<script src="/js/main.js"></script>
<!-- Validation controlled through a flipper flag -->
<% if(dontValidateForms) { %>
    <script>
        document.querySelectorAll('main form').forEach(formNode => {
            formNode.setAttribute('novalidate', true);
            const flipperMessage = 'form validation is OFF';
            const flipperMessageNode = document.createElement("p");
            flipperMessageNode.innerHTML = 'form validation is OFF';
            flipperMessageNode.style.color = 'gray';
            flipperMessageNode.style.fontStyle = 'italic';

            formNode.prepend(flipperMessageNode);
        });
    </script>
<% } %>

<!-- form enctype multipart/form-data controlled using a flipper flag -->
<% if(exampleFilePicker) { %>
    <script>
        document.querySelectorAll('main form').forEach(formNode => {
            const hasFilePicker = !!formNode.querySelector('input[type="file"]');
            alert('Set to multipart formdata')
            formNode.setAttribute('enctype', 'multipart/form-data');
        });
    </script>
<% } %>
</body>

</html>
