<script src="/js/main.js"></script>
<!-- Validation controlled through a flipper flag -->
<% if(dontValidateForms) { %>
    <script>
        document.querySelectorAll('main form').forEach(formNode => {
            formNode.setAttribute('novalidate', true);
            const flipperMessage = 'form validation is OFF';
            const flipperMessageNode = document.createElement("p");
            flipperMessageNode.innerHTML = 'form validation is OFF';
            flipperMessageNode.style.color = 'gray';
            flipperMessageNode.style.fontStyle = 'italic';

            formNode.prepend(flipperMessageNode);
        });
    </script>
<% } %>

<!-- form enctype multipart/form-data controlled using a flipper flag -->
<% if(exampleFilePicker) { %>
    <script>
        document.querySelectorAll('main form').forEach(formNode => {
            const hasFilePicker = !!formNode.querySelector('input[type="file"]');
            console.log('Set to multipart formdata')
            formNode.setAttribute('enctype', 'multipart/form-data');
        });
    </script>
<% } %>

<!-- dynamic alts for unloaded images -->
<!-- <script>
  // https://github.com/sanjar-notes/web_dev_fundamentals/issues/93
  function actionWhenImageDidntLoad() {
    alert("Image couldnt load");
  }

  document.querySelectorAll("img").forEach((imgNode) => {
    const isFetching = !imgNode.complete;
    if (isFetching) {
      imgNode.addEventListener("error", actionWhenImageDidntLoad);
    } else if (!imgNode.naturalWidth) {
      actionWhenImageDidntLoad();
    }
  });
</script> -->
</body>

</html>
