<section class="pagination">
  <% for(let i = 1; i <= Math.ceil(total/pageSize); i++) { %>
  <div
    class="pagination-pill <%= page === i ? 'pagination-pill--selected': ''%>"
  >
    <%= i %>
  </div>
  <% } %>
</section>
